<div id="popUpMainDiv">
    <img src="img/closeButton.png" id="closeButton" onclick="closeClicked();" alt="" style="max-width: 80%; max-height: 80%"
    />

    <br><br>

    <!--list-->

    <ul class="list">

        <!--fan control-->
        <div class="item item-divider">
        Fan Control
        </div>
        <div class="item range range-positive">
        <p>Slow</p>
        <input type="range" name="volume" min="0" max="100" value="33" id="brightnessControl">
        <p>Fast</p>
        </div>

        <div class="item item-divider">
            Electricity consumption
        </div>
        <div class="item item-text-wrap">
            <p>This month: <b>22 kHw</b>&nbsp;|&nbsp;<i class="balanced ">50% less</i></p>
            <p>last month: 44 KhW</p>
        </div>
        <div class="item item-text-wrap">
            <p>This component contributes <b>10.5%</b> to your final electricity consumption</p>
        </div>

    </ul>

    <!--./list-->

</div>