<div id="popUpMainDiv">
    <img src="img/closeButton.png" id="closeButton" onclick="closeClicked();" alt="" style="max-width: 80%; max-height: 80%"
    />

    <br><br>

    <!--list-->

    <ul class="list">

        <div class="item item-divider">
            This component : Green Light
        </div>

        <div class="item item-button-right">
            Toggle ->
            <button class="button button-assertive" id="toggleGreenBtn">
        </button>
        </div>

        <div class="item item-divider">
            Electricity consumption
        </div>
        <div class="item item-text-wrap">
            <p>This month: <b>22 kW</b>&nbsp;|&nbsp;<i class="balanced">50% less</i></p>
            <p>last month: 44 kW</p>
            <p>This component : <b>1 kW</b>&nbsp;|&nbsp;<i class="balanced">25% Less</i></p>
        </div>

        <div class="item item-divider">
            Similar controls nearby
        </div>

        <div class="item item-button-right">
            <b>Red</b> Light
            <button class="button button-assertive" id="toggleRedBtn">
        </button>
        </div>


    </ul>


    <!--./list-->

</div>